/* Container for the card grid */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    row-gap: 20px;
    padding: 10px;
}

.card {
    flex: 0 1 calc(20%);
    background-color: #00000000;
    text-align: center;
    cursor: pointer;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;
    background-color: #fff;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

@media (max-width: 1200px) {
    .card {
        flex: 0 1 calc(25%);
    }
}

@media (max-width: 900px) {
    .card {
        flex: 0 1 calc(33.33%);
    }
}

@media (max-width: 600px) {
    .card {
        flex: 0 1 calc(50%);
    }
}