.container {
    width: 100%;
    height: max(32vw, 200px);
    display: flex;
    flex-direction: row;
}

.first_half {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered_image {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: #FFFFFF;
    overflow: hidden;
}

.first_half_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.second_half {
    width: 50%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.full_image {
    width: 100%;
    height: 100%;
    background-color: black;
    object-fit: cover;
}

.second_half_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60%;
    height: fit-content;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: justify;
}

.header {
    font-size: 1.8vw;
}

.paragraph {
    font-size: 1vw;
}