.container {
    width: 100%;
    height: auto;
}

.mapHeader {
    width: 98%;
    margin: 0 auto 10px;
    position: relative;
    font-size: max(2.1vw, 14px);
}

.mapHeader::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px; /* Thickness of the underline */
    width: max(3.5vw, 14px);
    background-color: #2E2C2B;
}

.secondContainer {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    position: relative;
}

.pin {
    transform: scale(1);
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.flag {
    transform: scale(0);
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
}

.canada {
    position: absolute;
    left: 24%;
    top: 29%;
}

.canada:hover .flag {
    transform: scale(1);
}

.canada:hover .pin {
    transform: scale(0);
}

.oman {
    position: absolute;
    left: 61%;
    top: 51%;
}

.oman:hover .flag {
    transform: scale(1);
}

.oman:hover .pin {
    transform: scale(0);
}

.UAE {
    position: absolute;
    left: 61.5%;
    top: 48%;
}

.UAE:hover .flag {
    transform: scale(1);
}

.UAE:hover .pin {
    transform: scale(0);
}

.saudi {
    position: absolute;
    left: 58%;
    top: 49%;
}

.saudi:hover .flag {
    transform: scale(1);
}

.saudi:hover .pin {
    transform: scale(0);
}

.syria {
    position: absolute;
    left: 57%;
    top: 43%;
}

.syria:hover .flag {
    transform: scale(1);
}

.syria:hover .pin {
    transform: scale(0);
}

.egypt {
    position: absolute;
    left: 54.5%;
    top: 46%;
}

.egypt:hover .flag {
    transform: scale(1);
}

.egypt:hover .pin {
    transform: scale(0);
}

.image {
    width: 100%;
    height: auto;
    margin: 0 auto
}