.logo {
    background-color: #3a5b39;
    width: 4vw;
    min-width: 48px;
}

.unorderedList {
    background: linear-gradient(90deg, rgba(208,197,154,1) 0%, #3A5B39 100%);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 6;
}

.element {
    margin: 0.75rem;
    background: linear-gradient(90deg, rgba(221,197,100,1) 0%, rgba(208,197,154,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: max(14px, 1vw);
}

.header {
    background: linear-gradient(90deg, #E9C77B 0%, rgba(208,197,154,1) 100%);
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 4;
    font-size: max(18px, 1.5vw);
    overflow: hidden;
    white-space: nowrap;
}

.text {
    background: linear-gradient(0deg, rgba(87,105,53,1) 70%, rgba(35,65,10,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}