@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6E5C2;
  --foreground: #2E2C2B;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
  width: 100vw;
  height: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
